.subtitler {
font-size: 18px;
line-height: 21px;
color: rgba(118, 111, 111, 0.91);
text-align:matchparent;
font-weight: semi-bold;
margin-top: 30px;
margin-bottom: 30px;
}

.logo {
  margin-bottom: 30px;
}

.cta-button {
background: #6C63FF;
border-radius: 5px;
color: white;
}

.userctrl-logo {
    margin-top: 10px;
    margin-bottom: 25px;
}

.docs-header {
    color: #6C63FF;
    font-weight: 900px;
}

.footer-message {
    color: #868282;
    font-style: italic;
    font-size: 16px;
}

  .referlistcontainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    #referlistemail {
      width: 220px;
      margin-right: 10px;
      height: 45px;
      border-radius: 32px;
      border-color: black;
      font-size: 16px;
      padding: 0px;
      text-align: center;
    }
    #referlistbutton {
      width: 220px;
      height: 45px;
      border: none;
      border-radius: 5px;
      font-size: 11px;
      font-weight: 900px;
      text-align: center;
      vertical-align:middle;
      background-color:#6C63FF;;
      color: white;
    }
    .referlistinnercontainer {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding-bottom: 0px;
      padding-top: 30px;
    }

    #offer {
        font-size: 20px;
        font-weight: bolder;
        text-align: center;
        color: #6C63FF;
        margin-top: 50px;
        margin-bottom: 0px;
    }

    #copyright {
      text-align: center;
      margin-top: 30px;
      color:#868282; 
    }